{% for item in collections.sections %}
  {% if item.data.type === 'story' %}
    <div id="mission" class="w-full flex flex-col justify-center items-center py-12 bg-halloween-potion">
      <div class="grid grid-cols-2">
        <div class="flex-col self-center text-left w-full sm:w-2/3 xl:w-6/7 ml-auto col-span-1">
          <h2 class="font-bold tracking-wider text-halloween-pumpkin text-4xl mb-4">{{ item.data.title }}</h2>
          <div class="font-light text-white text-xl text-justify">
            {{ item.templateContent | safe }}
          </div>
          <br>
          <div class="flex flex-row w-full justify-center pb-12"><a class="px-10 py-2 text-gray-200 bg-halloween-pumpkin rounded-full shadow-md text-2xl hover:bg-halloween-witchHathover:border-red"href="https://go.gov.sg/ndpbunny">Fork Repo!</a></div>
        </div>
        <div class="col-span-1 w-1/2">
        <img src="/img/bunny_help.svg">
        </div>
      </div>
      
    </div>
  {% endif %}
{% endfor %}
