---
layout: base.njk
isFront: true
---

<div class="flex flex-col h-screen">
  <header class="sticky top-0 header w-full flex flex-col justify-between z-50 shadow sm:shadow-1">
    {% include "navbar.njk" %}
  </header>
  <main class="flex-1 overflow-y-scroll">
    {% include "section.home.njk" %}
    {% include "section.story.njk" %}
    {% include "section.mission.njk" %}
    {% include "section.submission.njk" %}
    {% include "section.learn.njk" %}
    {% include "footer.njk" %}
  </main>
</div>
